
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}
*{
    outline: none;
}
.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row-container{
    display: flex;
    flex-direction: row;
}
.col-container{
    display: flex;
    flex-direction: column;
}
header{
    background-color: #ffe799b9;
    position: fixed;
    top: 0;
    padding: 10px 0;
    width: 100%;
    z-index: 999;
}
header img{
    margin-left: 50px;
    cursor: pointer;
}
footer{
    align-items: center;
    text-align: center;
    font-size: small;
    width: 100%;
    background-color: #777777;
    height: 100%;
    padding: 50px;
    margin-top: 50px;
    color: #c4c4c4;
}
footer hr{
    border-top: thin solid #ffffff2c;
}
footer .footer-wrapper1{
    width: 70%;
    align-items: flex-start;
    padding: 50px;
}
footer .footer-wrapper1 img{
    margin-bottom: 20px;
}
footer .footer-wrapper2{
    padding-top: 50px;
}
/*PostContainer*/
.post-container{
    width: 600px;
    padding: 50px;
    border: thin solid #00000017;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.075);
    display: flex;
    flex-direction: column;
}
.post-container .profile-img{
    position: relative;
    margin: 0;
    width: 40px;
    height: 40px;
}
.post-profile-wrapper{
    display: flex;
    align-items: center;
}
.sub-profile-wrapper{
    display: inline-flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    display: inline-flex;
}
.sub-profile-wrapper2{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.sub-profile-wrapper span{
    font-size: small;
}
.sub-profile-wrapper #profile-location{
    color: gray;
    font-size: x-small;
    margin-top: 5px;
}
.post-container .sub-wrapper{
    cursor: pointer;
}
.post-container h2{
    cursor: pointer;
}
.post-container .content-wrapper{
    margin-left: 10px;
}
.sub-wrapper #more-btn{
    border: none;
    margin-left: -50px;
    padding: 5px 20px;
    padding-right: 0;
    padding-left: 60px;
    background: linear-gradient(90deg,#ffffff00, #fdfdfa);
    color: #888888;
    font-size: small;
}
.sub-wrapper button:hover{
    text-decoration: underline;
}
.tag-wrapper{
    color: #1b73d8;
    margin-top: 10px;
    margin-left: 10px;
}
.heart-comment-wrapper{
    font-size: xx-small;
    margin-top: 30px;
}
.heart-comment-wrapper #icon{
    font-size: large;
    color: #c5c5c5;
    cursor: pointer;
}
.heart-comment-wrapper span{
    padding: 5px;
    margin-right: 5px;
}
.heart-comment-wrapper .bold-span{
    font-size: 0.6vw;
    padding-right: 0;
    font-weight: 600;
    color: #777777;
}
.heart-comment-wrapper #like-list{
    cursor: pointer;
}
.heart-comment-wrapper #like-list:hover{
    color: black;
}
hr{
    border: none;
    border-top: thin solid #00000017;
    width: 100%;
    margin-top: 30px;
}
#date{
    color: #cacaca;
    font-size: x-small;
    align-self: flex-end;
    margin-left: 5px;
}


