
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}
*{
    outline: none;
}
.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row-container{
    display: flex;
    flex-direction: row;
}
.col-container{
    display: flex;
    flex-direction: column;
}



